$breakpoint-tablet: 48rem;
$breakpoint-desktop: 90rem;

$color-anti-flash-white: #f1f3fa;
$color-azureish-white: #e1e4f0;
$color-bleu-de-france: #388fe7;
$color-cadet-blue: #aeb3cb;
$color-ceil: #8c98c6;
$color-charcoal: #333a55;
$color-cool-gray: #848bab;
$color-dark-electric-blue: #63687d;
$color-dark-gunmetal-2: #20222f;
$color-dark-gunmetal: #1d1f29;
$color-ghost-white: #f7f9ff;
$color-jasper: #dc414c;
$color-jungle-green: #1eb589;
$color-ufo-green: #40db82;
$color-white: #ffffff;
$color-yankees-blue: #252b42;

$font-family: "Inter", sans-serif;

$transition-duration: 0.2s;
$transition-timing-function: ease-in-out;
